html, body {
	width: 100%;
	height: 100%;
	top: 0;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.logo{

}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
	color:#3f91fc;
	border-color: #3f91fc;
}

button:focus {
	border-color: #3f91fc;
	color:#3f91fc;
}



h1{
	position: absolute;
	top: 3px;
	left: 2.5em;
}

.logo{
	width: 50px;
	position: absolute;
	top: 6px;
	left: 1em;
}


.foods{
	padding-top: 2em;
}

iframe{
	padding-top: 2em;
	width: 100%;
	height: 550px;
}

.loader {
	border: 16px solid #e2d8d1;
	border-top: 16px solid #b1a5d3;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	display: block;
	margin: auto;
	margin-top: 12em;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

article{
	padding-top: 3em;
}

.lists{
	border-bottom: black solid 2px;
	padding: 2em;
	margin: 2em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 85%;
	text-align: center;  
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.brand{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	padding: 5px;
}



.links{
	background: linear-gradient(180deg, #6ab2cf, #a1dbf1);
	border-bottom: 1px solid #0d84b3;
	padding: 6px;
	text-align: right;
}

footer {
	position: absolute;
	background: linear-gradient(180deg, #6ab2cf, #a1dbf1);
	bottom: 0;
	border-top: 1px solid #0d84b3;
	width: 100%; 
	height: 65px;           /* Footer height */
}

footer p{
	margin: auto;
	margin-top: 20px;
}

.header a{
	padding: 10px;
	color: rgb(0, 162, 255);
}

.dropbtn {
	background-color: #e9e9e9;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: solid gray 1px;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #f1f1f1;
  }